<footer>
    <section id="about-company">
        <h1 class="h-primary ">CRAVING WORLD</h1>
   
    <div id="about-us">
    <div id="about1">
    <ul class="about-ul">
        <li class="head"><a href="#">ABOUT CRAVING WORLD</a></li>
        <li class="heading"><a href="#">Who we are</a></li>
        <li class="heading"><a href="#">Work with us</a></li>
        <li class="heading"><a href="#">Report Fraud</a></li>
        <li class="heading"><a href="#">Blog</a></li>
        <li class="heading"><a href="#">Invest</a></li>
        <li class="heading"><a href="#">Contact us</a></li>
    </ul>
    </div>
            
    <div id="about1">
     <div id="inabout1">
        <ul class="about-ul">
            <li class="head"><a href="#">FOR RESAURANTS</a></li>
            <li class="heading"><a href="#">Partner with us</a></li>
            <li class="heading"><a href="#">Apps for you</a></li>
           </ul>
        </div>       
        <div id="inabout1">
            <ul class="about-ul">
                <li class="head"><a href="#">FOR ENTERPRISES</a></li>
                <li class="heading"><a href="#">CravingWorld For Work</a></li>
            </ul>
        </div>       
          
    </div>
    <div id="rating-container">
   	
        
        <h1 class="head">Social Links</h1>
        <ul class= "horizontal-list text-align social-icons center">
            <li class="heading"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="heading"><a href=""><i class="fa-brands fa-stack-overflow"></i></a></li>
            <li class="heading"><a href=""><i class="fa-brands fa-google-plus-g"></i></a></li>
            <li class="heading"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li class="heading"><a href=""><i class="fa-brands fa-quora"></i></a></li>
        </ul>	
        </div>
    </div>

</section>
    <div class="footer1">
        By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2020-2022 © Craving World™ Ltd. All rights reserved 
    </div>
</footer>