
<header>
  
    <nav id="navbar">
    <div id="logo">
        <img src="/images/logo.png" alt="Carvingworld.com">
    </div>
    <ul>
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="#services-container">Order Food</a></li>
        <li class="item"><a href="#outlets-container">Outlets</a></li>
        <li class="item"><a href="#about-company">Customer Care</a></li>
        <li class="item"><a href="/users/sign-in">Sign-In</a> </li>
        <li class="item"><a href="/users/sign-up">Sign-Up</a></li>
    </ul>
</nav>
<section id="home">
    <h1 class="h-primary">LET YOUR CRAVE GO CRAZY</h1>
    <div class="search-bar">
        <div>
            <!-- magnifying glass- search icon -->
            <i class="fas fa-search search-ico"></i>
        </div>
        <input type="text" name="search" placeholder="Search for Restaurants">
        <div>
            <!-- mic icon -->
            <i class="fas fa-microphone mic-ico"></i>
        </div>
    </div>
   <button class="btn">Order Now</button>
</section>
      </header>
    