
<header>
  <nav id="navbar">
    <div id="logo">
        <img src="images/logo.png" alt="Carvingworld.com">
    </div>
    <ul>
        <li class="item"><a href="#home">Home</a></li>
        <li class="item"><a href="#services-container">Order Food</a></li>
        <li class="item"><a href="#outlets-container">Outlets</a></li>
        <li class="item"><a href="#about-company">Customer Care</a></li>
    </ul>
</nav>
      </header>
    