    <div id="full_body">
   

  

    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="images/crd1.jpg" alt="">
                <h2 class="h-secondary center">Explore Food</h2>
                <p class="center">Lorem ipsum dolor sit</p>
            </div>
            <div class="box">
                <img src="images/crd2.jpg" alt="">
                <h2 class="h-secondary center">Dine Out</h2>
                <p class="center">Lorem ipsum dolor sit</p>
            </div>
            <div class="box">
                <img src="images/crd3.jpg" alt="">
                <h2 class="h-secondary center">Food Ordering</h2>
                <p class="center">Lorem ipsum dolor sit</p>
            </div>
        </div>
    </section>

    <section id="outlets-container">
        <h1 class="h-primary center">Outlets</h1>
        <div id="outlets">
            <div class="box">
                <img src="images/dominos.png" alt="">
                <h2 class="h-secondary center">Dominos</h2>
                <!-- <p class="center">Lorem ipsum dolor st</p> -->
            </div>
            <div class="box">
                <img src="images/kfc.jpg" alt="">
                <h2 class="h-secondary center">Kfc</h2>
                <!-- <p class="center">Lorem ipsum dolor sit</p> -->
            </div>
            <div class="box">
                <img src="images/bbq.webp" alt="bbq.com">
                <h2 class="h-secondary center">Barbeque Nations</h2>
                <!-- <p class="center">Lorem ipsum dolor sit</p> -->
            </div>
            <div class="box">
                <img src="images/burgerking.avif" alt="burgerking.com">
                <h2 class="h-secondary center">burgerking</h2>
                <!-- <p class="center">Lorem ipsum dolor st</p> -->
            </div>
            <div class="box">
                <img src="images/wowchina.jpg" alt="">
                <h2 class="h-secondary center">Wow China</h2>
                <!-- <p class="center">Lorem ipsum dolor sit</p> -->
            </div>
            <div class="box">
                <img src="images/starbucks.jpg" alt="">
                <h2 class="h-secondary center">StarBucks</h2>
                <!-- <p class="center">Lorem ipsum dolor sit</p> -->
            </div>
        </div>
    </section> 

   
</div>
